# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# AI / LLM
chroma_db/
vectorstore/
faiss_index/

# Models
*.gguf
*.bin
*.safetensors
*.pt
*.pth

# Cache
.cache/

# Streamlit
.streamlit/